html {
  box-sizing: border-box;
  font-family: "Roboto", Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  max-width: 1440px;
  margin: auto;
}

body {
  margin: 0;
}

.logo {
  display: flex;
  justify-content: center;
  font-family: "Shrikhand", cursive;
  font-size: 2rem;
  margin-top: 1.25rem;
  padding-bottom: 0.5rem;
}

.btn-index-return {
  position: absolute;
  font-size: 2rem;
  left: 1.25rem;
  top: 1.7rem;
}
.btn-index-return:link {
  color: #353535;
}
.btn-index-return:visited {
  color: #353535;
}

@media screen and (min-width: 800px) {
  .logo {
    font-size: 3rem;
  }

  .btn-index-return {
    left: 2.5rem;
    top: 2.4rem;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 12.5rem;
  padding-bottom: 2.25rem;
  background-color: #353535;
}
.footer__logo {
  font-family: "Shrikhand", cursive;
  font-size: 1.5rem;
  margin-left: 1.5rem;
  color: #ffffff;
}
.footer__icon1 {
  margin-right: 0.8rem;
}
.footer__icon2 {
  margin-right: 0.4rem;
}
.footer__link {
  text-decoration: none;
  color: #ffffff;
  margin-left: 1.5rem;
}

@media screen and (min-width: 800px) {
  .footer {
    margin-top: 3.125rem;
  }
}
@media screen and (min-width: 900px) {
  .footer {
    width: 90%;
    margin: auto;
    border-radius: 1rem;
    box-shadow: 0px 3px 5px #b7b7b7;
    margin-top: 3.125rem;
  }
}
.btn-standard {
  display: block;
  height: 3.125rem;
  border: none;
  margin: auto;
  border-radius: 3.125rem;
  font-weight: bold;
  position: relative;
  font-size: 1rem;
  overflow: hidden;
  z-index: 1;
  font-family: "roboto", sans-serif;
  transition: all 0.4s;
  cursor: pointer;
}
.btn-standard--color {
  background: #9356dc;
  color: #ffffff;
  font-weight: bold;
  box-shadow: 0px 3px 5px #b7b7b7;
}
.btn-standard:hover {
  box-shadow: 0px 3px 5px #848484;
}
.btn-standard:hover::after {
  opacity: 1;
}
.btn-standard::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #9356dc;
  background: linear-gradient(341deg, #9356dc 0%, #ff79da 90%);
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s;
}
.btn-standard:active {
  box-shadow: 0px 3px 5px #848484;
}
.btn-standard:active::after {
  opacity: 1;
}
.btn-standard::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #9356dc;
  background: linear-gradient(341deg, #9356dc 0%, #ff79da 90%);
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s;
}

.manual-thumbnail {
  display: flex;
  align-items: center;
  height: 4.688rem;
  text-decoration: none;
  margin: 0 5.333% 1.25rem 5.333%;
}
.manual-thumbnail:hover .manual-icon {
  color: #9356dc;
}
.manual-thumbnail:hover .content {
  background-color: #f5edff;
}

.chip {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -0.75rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.75rem;
}
.chip--settings {
  background-color: #9356dc;
  color: #ffffff;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: 0.75rem;
  border-radius: 1rem;
}
.content--settings {
  background-color: #f6f6f6;
  box-shadow: 0px 3px 5px #b7b7b7;
}

.manual-icon {
  position: absolute;
  color: #7e7e7e;
  left: 10%;
  font-size: 1.25rem;
}

.manual-text {
  font-weight: bold;
  color: #000000;
}

.restaurants-thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  margin: 0 5.333% 1rem 5.333%;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 3px 5px #b7b7b7;
  border-radius: 1rem;
}
.restaurants-thumbnail__image {
  width: 100%;
  height: 10.875rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants-thumbnail__image__label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 1.875rem;
  width: 5rem;
  font-size: 0.8rem;
  border-radius: 3px;
  font-weight: bold;
  background-color: #99e2d0;
  color: #278870;
}
.restaurants-thumbnail__text {
  height: 30%;
  background-color: white;
}
.restaurants-thumbnail__heart-button {
  position: absolute;
  right: 1rem;
  bottom: 0.5rem;
}
.restaurants-thumbnail__link {
  text-decoration: none;
  color: #000000;
}

label {
  padding: 10px;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}
label > * {
  position: absolute;
  transition: all 0.4s ease-in-out;
}

input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
input + label > :last-child {
  opacity: 0;
  transform: scale(0);
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
input:checked + label > :first-child {
  opacity: 0;
}
input:checked + label > :last-child {
  opacity: 1;
  transform: scale(1);
}

.location {
  background-color: #f6f6f6;
  padding-bottom: 3.125rem;
}
.location__select {
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  position: relative;
  height: 3.12rem;
}
.location__select--setting {
  box-shadow: inset 0px 2px 4px -3px #353535;
  background-color: #eaeaea;
}
.location__select__icon {
  color: #353535;
  margin-right: 1rem;
}
.location__select__list {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  height: 90%;
}
.location__select__list--setting {
  background-color: #eaeaea;
  color: #353535;
  font-size: 1rem;
}

.presentation {
  padding-top: 2.813rem;
  text-align: center;
}
.presentation--color {
  background-color: #f6f6f6;
}
.presentation__tittle {
  font-size: 1.5rem;
  margin: 0% 15%;
}
.presentation__explanation {
  font-weight: normal;
  font-size: 1rem;
  margin: 1rem 10% 2rem 10%;
}
.presentation__btn-standard {
  width: 60%;
}

@media screen and (min-width: 800px) {
  .location {
    padding-top: 3.125rem;
  }
  .location__select {
    width: 60%;
    box-shadow: 0px 3px 5px #b7b7b7;
    border-radius: 1.56rem;
    margin-bottom: 0.5rem;
  }

  .presentation__btn-standard {
    margin-top: 3.125rem;
    font-size: 1rem;
  }
}
@media screen and (min-width: 900px) {
  .location {
    width: 90%;
    margin: auto;
    border-radius: 1rem;
    box-shadow: 0px 3px 5px #b7b7b7;
  }
}
.manual {
  padding-bottom: 3.5rem;
}
.manual__tittle {
  font-size: 1.5rem;
  margin: 3.125rem 0 2rem 5.333%;
}

.restaurants {
  background-color: #f6f6f6;
  padding-top: 3.75rem;
  padding-bottom: 2.75rem;
}
.restaurants__tittle {
  font-size: 1.5rem;
  margin: 0 0 1.625rem 5.333%;
}

.host {
  margin: 0.9rem 0 0 1rem;
  font-weight: bold;
}

.host-location {
  margin: 0.6rem 0 1rem 1rem;
}

.restaurants-contents {
  height: 15.625rem;
}

@media screen and (min-width: 600px) {
  .restaurants-thumbnail {
    width: 70%;
    margin: 0 auto 1.5rem auto;
  }
}
@media screen and (min-width: 700px) {
  .restaurants-thumbnail {
    width: 60%;
    margin: 0 auto 1.5rem auto;
  }
}
@media screen and (min-width: 900px) {
  html,
body {
    font-size: 20px;
  }

  .manual {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 2rem;
  }
  .manual__tittle {
    width: 100%;
  }

  .manual-thumbnail {
    width: 40%;
    margin: 0 auto 2rem auto;
  }

  .restaurants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
    border-radius: 1rem;
    box-shadow: 0px 3px 5px #b7b7b7;
  }
  .restaurants__tittle {
    width: 100%;
  }

  .restaurants-thumbnail {
    width: 40%;
    margin: 0 auto 2rem auto;
  }
}/*# sourceMappingURL=main.css.map */