.logo {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 1.25rem;
	padding-bottom: 0.5rem;
	font-family: $titlefont;
	font-size: 2rem;
}
.btn-index-return {
	position: absolute;
	top: 1.7rem;
	font-size: 2rem;
	left: 1.25rem;
	&:link {
		color: $dark-grey;
	}
	&:visited {
		color: $dark-grey;
	}
}
@media screen and (min-width: 800px) {
	.logo {
		font-size: 3rem;
	}
	.btn-index-return {
		left: 2.5rem;
		top: 2.4rem;
	}
}
