.logo {
	display: flex;
	justify-content: center;
	font-family: "Shrikhand", cursive;
	font-size: 2rem;
	margin-top: 1.25rem;
	padding-bottom: 0.5rem;
}
.btn-index-return {
	position: absolute;
	font-size: 2rem;
	left: 1.25rem;
	top: 1.7rem;
	&:link {
		color: $dark-grey;
	}
	&:visited {
		color: $dark-grey;
	}
}
