.logo {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 1.25rem;
	padding-bottom: 0.5rem;
	font-family: $titlefont;
	font-size: 2rem;
}
.btn-index-return {
	position: absolute;
	top: 1.7rem;
	font-size: 2rem;
	left: 1.25rem;
	&:link {
		color: $dark-grey;
	}
	&:visited {
		color: $dark-grey;
	}
}
@media screen and (min-width: 900px) {
	.logo {
		align-items: center;
		position: fixed;
		top: 0;
		margin: 0;
		padding: 0;
		z-index: 2;
		height: 6rem;
		background-color: $dark-grey;
		font-size: 3rem;
		color: #ffffff;
	}
	.btn-index-return {
		font-size: 2rem;
		position: fixed;
		z-index: 2;
		left: 4rem;
		top: 2rem;
		&:link {
			color: #ffffff;
		}
		&:visited {
			color: #ffffff;
		}
	}
}
