//color/////////////////////
$primary-color: #9356dc;
$primary-color-light: #f5edff;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$light-grey: #f6f6f6;
$medium-grey: #eaeaea;
$medium-dark-grey: #7e7e7e;
$dark-grey: #353535;

//font////////////////////////
$titlefont: "Shrikhand", cursive;
$bodyfont: "roboto", sans-serif;
