/////////////////////////////////////////////////////////////////////////////////
// This file contains very basic styles. ////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////

html {
	box-sizing: border-box;
	font-family: "Roboto", Georgia, Times, "Times New Roman", serif;
	font-size: 16px;
	max-width: 1440px;
	margin: auto;
}
body {
	margin: 0;
}
